:root {
    --colorLight: rgb(248, 249, 250);
    --colorWhite: rgb(255, 255, 255);
    --grayLight: rgb(52, 58, 64);
    --grayDark: rgb(33, 37, 41);
    --mainColor: rgb(141, 123, 104);
    --secColor: rgb(164, 144, 124);
    --middleColorBeige: rgb(200, 182, 166);
    --accColor: rgb(241, 222, 201);

}

.greyLight {
    color: rgb(52, 58, 64);
}

.greyDark {
    color: rgb(33, 37, 41);
}

/*font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}



body {
    overflow-x: hidden;
}


/*Navbar and Offcanvas element*/
.navbar {
    background-color: var(--grayDark);
    position: fixed;
    width: min-content;
    z-index: 3;
}



.iconNav {
    color: var(--accColor);
}

#btnOpenNav {
    color: var(--accColor);
}



.myOffcanvas {
    position: absolute;
    right: 0;
    transition: 1s;
    transform: translateX(100%);
    background-color: var(--grayDark);
    opacity: 0.9;
    z-index: 3;
}

.transformCanvas {
    transform: translateX(0%);
}

.liStyle {
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.list-group-item {
    transition: 0.4s;
    position: relative;
}

.list-group-item:hover:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: linear-gradient(to right, var(--mainColor), var(--accColor));
    animation: animateCanvans linear 2s;
    animation-duration: 3s;

}

/*Animazione Offcanvas*/
@keyframes animateCanvans {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}



/*Animazione button Navbar*/

div span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--accColor), var(--mainColor));

    animation: animate1 3s linear infinite;

}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

div span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, var(--accColor), var(--mainColor));

    animation: animate2 3s linear infinite;
    animation-delay: 1.5s;

}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

div span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, var(--accColor), var(--mainColor));

    animation: animate3 3s linear infinite;



}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

div span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, var(--accColor), var(--mainColor));

    animation: animate4 3s linear infinite;
    animation-delay: 1.5s;


}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/*Fine animazione button Navbar*/


/*Posizionamento immagini Header */
.devices-wrapper {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    position: absolute;

    top: 40%;
    left: 45%;
    width: 75.25rem;
    height: 85.25rem;
}

.devices-wrapper .headerBici {
    right: 0%;
    bottom: 0%;
}

.devices-wrapper [class*=headerBici] {
    width: 30%;
    position: absolute;
}


.devices-wrapper .device {
    width: 100% !important;
    border-radius: 0.5rem;
    border: 0.25rem solid rgba(190, 190, 190, .1);
    -webkit-box-shadow: 0.125rem 0.125rem 1.25rem 0 rgba(0, 0, 0, .3);
    box-shadow: 0.125rem 0.125rem 1.25rem 0 rgba(0, 0, 0, .3);
    width: 6.25rem;

}

img {
    vertical-align: middle;
    overflow: clip;
}


.devices-wrapper .headerCoffe {
    left: -3%;
    top: 8%;
}

.devices-wrapper [class*=headerCoffe] {
    width: 45%;
    position: absolute;
}

.devices-wrapper .headerBook {
    left: 43%;
    top: 28%;
}

.devices-wrapper [class*=headerBook] {
    width: 25%;
    position: absolute;
}

.devices-wrapper .headerRose {
    left: 70%;
    top: 35%;
}

.devices-wrapper [class*=headerRose] {
    width: 25%;
    position: absolute;
}



.devices-wrapper .headerApple {
    left: 43%;
    top: 0%;
}

.devices-wrapper [class*=headerApple] {
    width: 44%;
    position: absolute;
}

/*Fine posizionamento immagini Header */

/*Animazione immagini Header*/
.paddignH1 {
    padding-left: 100px;
}


.transformImg {
    transform: translate3d(0px, 0px, 0px);
}

.imgTransition {
    transition: 1s;
}

.imgTransitionCoffe {
    transition-delay: 0.4s;
}

.imgTransitionBook {
    transition-delay: 0.6s;

}

.imgTransitionRose {
    transition-delay: 0.7s;

}


.imgTransitionBike {
    transition-delay: 0.8s;

}

.imgTransitionApple {
    transition-delay: 0.9s;

}

/*Fine animazione immagini Header*/

/*First Section and Carousel*/

.h3BorderFirst {
    border-bottom: 2px solid var(--mainColor);

}

.h3Border {
    border: double var(--mainColor);
    padding: 5px;
}


.backgroundCarousel {
    background-image: url(../img/Background-SecondSection.jpg);
    background-size: cover;
}

.borderCarousel {
    background-color: white;
    border: solid 2px white;
    padding: 6px;
}

/*Seconda sezione - Card */

.iconCardStyle {
    color: rgba(117, 177, 117, 0.753);
}

.iconCardStyle2 {
    color: rgba(243, 123, 37, 0.493);
}

.iconCardStyle3 {
    color: rgb(207, 175, 146);
}

.iconCardStyle4 {
    color: rgba(242, 222, 233, 0.861);
}


.cardStyle {
    border: double var(--colorWhite);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgba(0, 0, 0, 0.114), rgba(0, 0, 0, 0.164)), url(../img/BackgroundCard2.jpg);
    background-size: cover;
    transform: scale(0.8);
    transition: all cubic-bezier(cubic-bezier(0.215, 0.610, 0.355, 1));
    transition-delay: 3s;
    transition: 2.5s;
    opacity: 0;
}

/*Animazione card e btn*/
.cardStyle.inPage {
    opacity: 1;
    transform: scale(1);
}

.btnStyle {
    border: double var(--colorLight);
    color: var(--colorWhite);
}

.btnStyle:hover {
    background-color: var(--colorWhite);
    color: var(--grayDark);
}

/*Terza sezione - Video*/

.bgVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.9;

}

.textVideo {
    z-index: 1;
}

/*Sezione numbers*/

.numberSection{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.162), rgba(0, 0, 0, 0.221)), url(../img/Bg-Numbers.jpg);
    background-size: cover;
    
}

.titleNumbers {
    border-bottom: 2px solid white;
}

.styleNumbers {
    background-color: rgba(164, 144, 124, 0.546);
    padding: 25px 30px 35px 30px;
    border-radius: 10px;
    transition: 0.8s;
}

.styleNumbers:hover {
    transform: scale(1.1);
}


.marginFirstCard{
    margin: 15px 15px;

}

.marginSecondCard {
    margin: 45px 15px;
}

.marginThirdCard{
    margin: 45px 15px;
}

.marginEndCard {
    margin: 15px 15px;
    
}

.imgNumbers {
    border-radius: 50%;
    transition: 0.6s;
    border: 2px solid white;
    padding: 10px;
}

.imgNumbers:hover {
    transform: scale(1.1);
    border-radius: 0%;
}

/*Footer*/
.footerSocialCol {
    border-right: solid 2px var(--middleColorBeige);
}

.borderIcon{
    border: solid 2px var(--mainColor);
    border-radius: 50%;
    padding: 10px;
    color: var(--mainColor);
}

.borderIcon:hover {
    background-color: var(--mainColor);
    color: var(--colorWhite);
    transform: rotateY(360deg);
	animation: rotateAnimation 1s linear;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(360deg);}
}


/*Sezione Annunci*/
.navbarAnnunci {
    background-color: var(--grayDark);
    height: min-content;
  
}

.borderStyle {
    border: double var(--middleColorBeige);
}

.borderStyle2{
    border-bottom: solid 2px var(--middleColorBeige);
}

.borderStylePrice{
    border: double var(--middleColorBeige);
}